NEXT_PUBLIC_SUPABASE_URL=https://fgfoknqwxvvhjrqircdh.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_HUAT57-cKyGxGDPEbwPtOg_6UmZN-YE
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZnZm9rbnF3eHZ2aGpycWlyY2RoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk3MDUwMDgsImV4cCI6MjA5NTI4MTAwOH0._5FxXkXc1QggVjkDsSpdsUheJVa6g7uFpAm52hZDiSQ
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZnZm9rbnF3eHZ2aGpycWlyY2RoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTcwNTAwOCwiZXhwIjoyMDk1MjgxMDA4fQ.8qFZT64gAHOmtajS4cM2UH6YYC_o_eiGCkdbGZeO8IA